#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

keymap {
    compatible = "zmk,keymap";

    default_layer {
        bindings = <
            KP_ESC       KP_1     KP_2      KP_3      KP_4      KP_5      KP_6      KP_7      KP_8      KP_9      KP_0      KP_GRAVE   KP_EQUAL   KP_C_PP
            KP_TAB       KP_Q      KP_W      KP_E      KP_R      KP_T      KP_Y      KP_U      KP_I      KP_O      KP_P      KP_LBKT    KP_RBKT    KP_BSPC
            KP_CAPSLOCK  KP_A      KP_S      KP_D      KP_F      KP_G      KP_H      KP_J      KP_K      KP_L      KP_SEMICOLON KP_SQT    KP_ENTER    KP_BSLH
            KP_LSHIFT    KP_Z      KP_X      KP_C      KP_V      KP_B      KP_N      KP_M      KP_COMMA   KP_PERIOD   KP_SLASH    KP_RSHIFT  KP_UP      KP_MINUS
            KP_LCTRL     KP_LEFT_WIN KP_LALT   KP_NO      KP_SPACE   KP_RALT   KP_A      KP_DEL    KP_LEFT    KP_DOWN    KP_RIGHT    KP_PG_DN  KP_PG_UP
        >;
    };
};