if SHIELD_TUBETEST

config ZMK_KEYBOARD_NAME
    default "TubeTest"

config ZMK_BLE_BOND
    bool "Enable BLE bonding"
    default n  # Disable if causing issues

config ZMK_BLE_SLEEP
    bool "Enable BLE sleep mode"
    default n  # Disable if causing issues

endif