#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#define URL_1 "https://bhs-vic.compass.education/"

#
/ 
{
    keymap 
    {
        compatible = "zmk,keymap";

        default_layer 
        {
            bindings = <
            &kp ESC       &kp N1        &kp N2   &kp N3    &kp N4    &kp N5   &kp N6  &kp N7  &kp N8     &kp N9      &kp N0         &kp GRAVE   &kp EQUAL
            &kp TAB       &kp Q         &kp W    &kp E     &kp R     &kp T    &kp Y   &kp U   &kp I      &kp O       &kp P          &kp LBKT    &kp RBKT   &kp BSPC
            &kp CAPSLOCK  &kp A         &kp S    &kp D     &kp F     &kp G    &kp H   &kp J   &kp K      &kp L       &kp SEMICOLON  &kp SQT     &kp ENTER  &kp BSLH
            &kp LSHIFT    &kp Z         &kp X    &kp C     &kp V     &kp B    &kp N   &kp M   &kp COMMA  &kp PERIOD  &kp SLASH      &kp RSHIFT  &kp UP     &kp MINUS
            &kp LCTRL     &kp LEFT_WIN  &kp LALT &kp C_PP  &kp SPACE &kp RALT &kp A   &kp DEL &kp LEFT   &kp DOWN                   &kp RIGHT   &kp PG_DN  &kp PG_UP
            >;
        };
    };
};